#sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-top: 10rem;
    margin: 2rem;
    border-radius: 2rem;
    background-color: var(--escuro);
    color:var(--claro);
}

#texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 4rem;
}

#texto h2 {
    font-size: 4rem;
}

#texto h3 {
    font-size: 2.5rem;
}

#texto h2 strong {
    color:var(--cor-de-fundo);
}

#texto h3 strong {
    color: var(--cor-de-fundo);
}

#texto article {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#sobre img {
    height: 50rem;
    width: 50rem;
    border-radius: 2rem;
}
#carouselExampleIndicators{
    margin: 3rem;
    
}
.tam {
    height: 50rem;
    border-radius: .5rem;
}

#map {
    height: 50rem;
    width: 50rem;
}

#mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    margin-top: 10rem;
    padding: 5rem;
    border: .1rem solid var(--cor-de-fundo);
}

#mapa h2 {
    font-size: 4rem;
    padding: 2rem;
}

#mapa h2 a {
    color: var(--cor-de-fundo);
}

#mapa article {
    color:var(--claro);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    padding-bottom: 2rem;

}

#mapa iframe {
    border-radius: 2rem;
    width: 100rem;
    height: 45rem;
    padding: 1rem;
}

#contato {
    padding-top: 11rem;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

#formulario {
    border: none;
    display: flex;
    flex-direction: column;
    gap: .3rem;


}

#form #titulo {
    font-size: 3rem;
    font-weight: 700;
    color:var(--cor-de-fundo);
}

#formulario input::placeholder {
    color:var(--cor-de-fundo);
    background-color:var(--escuro);
    padding: 1rem;
}

#formulario input {
    border: none;
    height: 5rem;
    border-radius: 1rem;
    background-color: var(--escuro);
    color:var(--claro);
    width: 35rem;
    border: .1rem solid var(--cor-de-fundo);
    border-radius: 1rem;
}

#form button {
    color:var(--claro);
    border: .1rem solid var(--cor-de-fundo);
    padding: 1rem 3rem;
    border-radius: .5rem;
}

#faq {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    padding-top: 10rem;
}

#faq h2 {
    font-size: 4rem;
    color:var(--cor-de-fundo);
}

#faq h3 {
    font-size: 2.5rem;
    color: var(--cor-de-fundo);
    margin: 2rem;
   
}

.sumir {
    color:var(--claro);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease ;
}
.faq{
    max-width: 90rem;
    cursor: pointer;
    border-bottom: .2rem solid white;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq.active .sumir{
    max-height: 30rem; 
    animation: fade 1s ease-in-out;
}
.question img{
    height: 5rem;
}
.faq.active img{
    transform: rotate(180deg);
}
.material-symbols-outlined {
    transition: transform .5s ease-in;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



#whats {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    position: fixed;
    z-index: 1000;

}

#whats a img {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 8rem;
    /* Ajuste o tamanho conforme necessário */
    height: 8rem;
    /* Ajuste o tamanho conforme necessário */
    z-index: 1000;
}

@media (max-width: 820px){
    #mapa iframe{
        width: 40rem;
        height: 40rem;
    }
}

@media (max-width: 480px){
    #mapa{
        padding: 2rem;
        text-align: center;
    }
    #mapa iframe{
        width: 30rem;
        height: 30rem;
    }
    
}